footer {
    background-color: var(--bg-footer-color);
    p, a {
        color: var(--btn-color-3);
    }
    .footer-top {

        .send-icon {
            margin-top: -17px;
        }
    }
    
    .input-group {
        .input-group-text{
            background: var(--main-color)!important;
            color: var(--text-color);
        }
        .form-control {
            padding: 8px 20px;            
        }
        .form-control:focus {
            box-shadow: none;
            border-color: var(--background-color);
        }
    }
}

footer:nth-last-child(-n + 1) {
    border-top: 1px solid var(--bottom-color);
}