.header-top {
    background: var(--bg-wrapper);
    border-bottom: 1px solid var(--bottom-color);

    .logo {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    .form-select {
        outline: none;
        border: none;
        width: 150px;
        padding: 5px 10px;
    }

    .form-select > option:selected {
        background-color: red !important;
    }

    .text-info {
        color: var(--text-color) !important;
    }
    .text-info:hover {
        color: var(--main-color) !important;
    }
}

.header-upper {
    .logo-text {
        color: var(--main-color);
    }

    .form-control:focus {
        box-shadow: none;
        border-color: var(--background-color);
    }

    .input-group-text {
        background-color: var(--main-color);
        color: var(--text-color);
        cursor: pointer;
    }

    .search-icon:hover {
        color: white;
    }

    .text-white {
        background-color: var(--main-color) !important;
    }

}

.header-bottom {

    .dropdown button {
        font-size: 16px;
        line-height: 18px;
        font-weight: 500;
        letter-spacing: 0.3;
        text-transform: uppercase;
    }

    .drop-text {
        color: black !important;
    }

    .dropdown-menu {
        padding: 0;
        width: 100%;
        transform: translate(0px, 46px) !important;

        .dropdown-item {
            margin: 0 5px;
            padding: 10px;
            margin-bottom: 3px;
        }
        

        .dropdown-item:hover {
            width: 229px;
            transition: 0.2s ease-in-out;
            margin: 0 -1px;
            background-color: var(--main-color);
            color: var(--content-bg) !important;
        }
    }

    .dropdown button:focus {
        box-shadow: none;
    }

    .text-dark {
        font-size: 16px;
        line-height: 18px;
        font-weight: 500;
        letter-spacing: 0.3;
        text-transform: uppercase;
    }

    .all-categories:active > .list-item {
        display: none;
    }
}