.gr-12 {
    width: 100%;

    .product-card {
       
        .btn-wishlist {
            width: 25px;
            height: 25px;
            top: 10px;
        }
        
        .product-image {
            width: 270px;
            height: auto;
            // margin-bottom: 30px;
        }
        .action-bar {
            top: 14%;

            .btn-product {
                width: 25px;
                height: 25px;
            }
        }
        .product-details {
            width: 600px;
        }
    }
}

.gr-6 {
    width: 49%;

    .product-image {
        width: 100%;

        img {
            margin: auto;
            display: block;
        }
    }
}

.gr-4 {
    width: 32%;
    
    
}

.gr-3 {
    width: 24%;
}

.product-card {
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid var(--main-color);
    width: 100%;
    padding: 15px;
    background-color: var(--bg-container);

    .wishlist-icon {
        top: 2%;
        right: 15px;
    }
    .product-image {
        height: 270px;
    }

    .product-image img {
        width: 300px;
        height: 300px;
    }

    .product-image>img:last-child {
        display: none;
    }

    .product-image:hover>img:nth-child(1) {
        transition: ease-out;
        display: none;
    }

    .product-image:hover>img:last-child {
        transition: ease-out;
        display: block;
    }

    img {
        width: 100%;
        object-fit: contain;
    }

    .brand {
        color: var(--title-highlight);
        font-size: 13px;
    }

    .product-title {
        font-size: 15px;
        color: var(--sub-title-color);
    }
    .description {
        font-size: 13px;
        color: var(--sub-title-color);
    }

    .price {
        font-size: 16px;
        color: var(--sub-title-color);
    }

    .action-bar {
        top: 10%;
        right: -25px;
        transition: 0.3s;

    }
}

.product-card:hover .action-bar {
    right: 15px;
}