.special-product-card {
    padding: 20px 5px;
    border-radius: 10px;
    width: 50%;

    .img-fluid {
        width: 340px;
        height: auto;
        border-radius: 10px;
    }

    .special-product-content {  
        width: 50%;      

    .brand {
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
    }
    }
}