.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    .admin-content-form {
        width: 468px;
        max-width: 80%;
        background-color: #fff;
        border-radius: 5px;
        padding: 4rem;
        -webkit-box-shadow: 6px 12px 60px rgba(0, 0, 0, .2);
        box-shadow: 6px 12px 60px rgba(0, 0, 0, .2);

        img {
            width: 90px;
            height: 90px;
        }

        .validate-error {
            color: #dc3545;
            font-size: 12px;
        }
       
    }
}