.contact-wrapper {

    .contact-title {
        font-size: 26px;
        font-weight: 500;
        line-height: 35px;
        text-align: left;
        color: var(--main-color);
        text-transform: uppercase;


    }

    ul {
        list-style: none;

        p, a, address {
            color: var(--sub-title-color);
        }
    }

    .form-control {
        background-color: var(--bg-wrapper);
        border-radius: 10px;
        padding: 10px;
        border: 1px solid var(--bottom-border);
    }

    .form-control:focus {
        box-shadow: none;
    }
}